*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  appearance: none;
  background: #000;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.article-card {
  width: 280px;
  margin: 10px;
  padding: 15px;
  background-color: #ccc8c8d3;
  border-radius: 5px;
}

.article-description {
  margin-top: 0;
  margin-bottom: 10px;
}

.article-img {
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.form {
  padding: 10px;
}

.card {
  margin: 10px;
}

#newsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .article-link {
} */

.load-more {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  /* // font-weight: bold; */
  font-size: large;
  color: #fff;
  background-color: #4056b4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.load-more.hidden {
  display: none;
}

/* ====================================== 
2 - General Properties
 ===================================== */

/* body {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  margin: auto;
  min-width: 320px;
  max-width: 1024px;
  background-color: #eeeeee;
} */

blockquote {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: #555555;
}

hr {
  border: 0.5px dotted #bbbbbb;
}

/* ====================================== 
3 - Element-specific properties
 ===================================== */

#main {
  width: 85%;
  height: 100%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
}

#title {
  text-align: center;
  font-family: 'Pinyon Script', cursive;
  font-size: 4rem;
}

#img-div {
  text-align: center;
  margin: auto;
}

#img-div img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px hsl(0, 0%, 80%);
}

#img-caption {
  margin-top: 5px;
  font-size: 0.9rem;
  font-style: italic;
}

#tribute-info {
  text-align: center;
  width: 75%;
  margin: auto;
}

#tribute-info ul {
  text-align: left;
}

#intro {
  margin: 30px auto 30px auto;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

#quote {
  margin: 70px auto 50px auto;
  background-image: url('https://www.damienvassart.com/test/fcc/responsive/img/qmarks.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* ====================================== 
4 - Media queries
 ===================================== */

@media screen and (max-width: 440px) {
  #title {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 2rem;
  }

  #img-caption {
    font-size: 0.6rem;
  }

  #intro {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 441px) and (max-width: 768px) {
  #title {
    text-align: center;
    font-family: 'Pinyon Script', cursive;
    font-size: 2.9rem;
  }

  #img-caption {
    font-size: 0.8rem;
  }

  #intro {
    font-size: 0.9rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
}

.modal {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hide {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 84, 84, 0.8);
  transition: background-color 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
}

/* // .modal__btn-close {
// } */

.modal__btn-open {
  color: #000;
  background-color: #0000004d;
  text-align: center;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  /* // width: 100%; */
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* // background: transparent; */
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin: 0 auto;
  margin-right: 0;
}

.modal__btn-open:hover,
.modal__btn-close:hover {
  background-color: rgba(252, 227, 138, 0.8);
  color: #607b83;
}

.modal__btn-close {
  color: #000;
  background-color: #0000004d;
  text-align: center;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  /* // width: 100%; */
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* // background: transparent; */
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin: 0 auto;
  margin-right: 0;
}
